.left
  .title#complaint
    = "#{(@complaint.title || t('complainment.no_title'))}"
    %span= " - #{(@complaint.user ? @complaint.user.first_name : t('complainment.no_user'))}"
  .description
    = @complaint.description.html_safe

  #images
    .title#complaint
      = t('complainment.images')
    - if @pictures && !@pictures.empty?
      .ul.images
        - @pictures.each do |picture|
          - if picture.attachment
            %li
              %img{ :src => picture.attachment }
    - else
      .description= t('complainment.no_images')

  #comments
    .title#complaint
      = form_for [@complaint, @comment] do |f|
        = f.text_area :comment, :rows => 3, :cols => 240, :class => "caixa_comentario"
        %br
        = f.hidden_field :user_id, :value => session[:user_id]
        = f.submit "Comentar", :class => "btn btn-primary"
      = "Comentários"
    - @comments.each_with_index do |comment, index|
      .comment= index.to_s + " - " + comment.comment
      %hr


      
.right
  - if @map
    = gmaps(:map_options => { :auto_zoom => false, :draggable => false, "disableDefaultUI" => true, "disableDoubleClickZoom" => true, :zoom => 13 }, :markers  => { :data => @json })
  - else
    = gmaps(:map_options => { :center_latitude => -13, :center_longitude => -48, :zoom => 4, :draggable => false, "disableDefaultUI" => true, "disableDoubleClickZoom" => true }, :markers => {:data => @json})

  .title= t('complaiment.links')
  - if @fonts && !@fonts.empty?
    %ul.urls
      - @fonts.each do |font|
        - if font.url
          %li= link_to font.url, font.url, :target => '_blank'
  - else
    %p= t('complainment.no_links')

  .title= t('complainment.video')
  - if @video
    %p= link_to @video.url, @video.url, :target => '_blank'
    / %embed{ :autoplay => "false", :src => @video.url, :width => "50", :height =>"50" }
  - else
    %p= t('complainment.no_video')
