.left
  .title#complaint
    = "#{(@complaint.title || t('complainment.no_title'))}"
    %span= " - #{(@complaint.user ? @complaint.user.first_name : t('complainment.no_user'))}"
  .description
    = @complaint.description.html_safe

  #images
    .title#complaint
      = t('complainment.images')
    - if @pictures && !@pictures.empty?
      %ul.images
        - @pictures.each do |picture|
          - if picture.attachment
            %li
              %a{ :href => picture.attachment, :rel => "lightbox[complaint]"}
                %img{ :src => picture.attachment(:thumb) }
    - else
      .description= t('complainment.no_images')

  #comments
    - if user_signed_in?
      = form_for [@complaint, @comment] do |f|
        = f.text_area :comment, :rows => 3, :cols => 240, :class => "caixa_comentario"
        %br
        = f.hidden_field :user_id, :value => current_user.try(:id)
        = f.hidden_field :commentable_id, :value => @complaint.id
        = f.submit t('complainment.comment_confirm'), :class => "btn btn-primary", :style => 'margin-left: 10px;'

    .clear
    .title#complaint
      = t('complainment.comments')
      .comments_list
        - @comments.each_with_index do |comment, index|
          .comment= comment.comment
          %p.comment= (index + 1).to_s + " - " + comment.user.first_name + " " + comment.user.last_name
          %hr
      
.right
  - if @map
    = gmaps(:map_options => { :raw => "{scrollwheel: false}", :auto_zoom => false, "scaleControl" => false, :draggable => false, "disableDoubleClickZoom" => true, :zoom => 13, :maxZoom => 18, :minZoom => 8 }, :markers  => { :data => @json })
  - else
    = gmaps(:map_options => { :center_latitude => -13, :center_longitude => -48, :zoom => 4, :draggable => false, "disableDefaultUI" => true, "disableDoubleClickZoom" => true }, :markers => {:data => @json})

  .title= t('complaiment.links')
  - if @fonts && !@fonts.empty?
    %ul.urls
      - @fonts.each do |font|
        - if font.url
          %li= link_to font.url, font.url, :target => '_blank'
  - else
    %p= t('complainment.no_links')

  .title= t('complainment.video')
  - if @video
    %p= link_to @video.url, @video.url, :target => '_blank'
    / %embed{ :autoplay => "false", :src => @video.url, :width => "50", :height =>"50" }
  - else
    %p= t('complainment.no_video')
