.left
  .title#complaint
    = "#{(@complaint.title || t('complainment.no_title'))}"
    %span= " - #{(@complaint.user ? @complaint.user.first_name : t('complainment.no_user'))}"
  .description
    = @complaint.description

.right
  - if @map
    = gmaps(:map_options => { :auto_zoom => false, :draggable => false, "disableDefaultUI" => true, "disableDoubleClickZoom" => true, :zoom => 13 }, :markers  => { :data => @json })
  - else
    = gmaps(:map_options => { :center_latitude => -13, :center_longitude => -48, :zoom => 4, :draggable => false, "disableDefaultUI" => true, "disableDoubleClickZoom" => true }, :markers => {:data => @json})

  .title= t('complaiment.links')
  - if @fonts && !@fonts.empty?
    %ul.urls
      - @fonts.each do |font|
        - if font.url
          %li= link_to font.url, font.url, :target => '_blank'
