.menu
  - if user_signed_in?
    .complaint
      %h1= t('messages.login_welcome')
      = link_to t('buttons.new_complaint'), new_complaint_path, :class => 'btn btn-large btn-primary', :id => 'complaint_btn'
    #search_filters
      / TODO: incluir filtros para buscar no mapa por: 'Todas', 'Minhas denuncias', 'Denuncias que sigo'
  - else
    .complaint
      %h1= t('messages.signout_welcome').html_safe
      = link_to 'Login with facebook', user_omniauth_authorize_path(:facebook), :id => 'facebook_login'

#map
  = gmaps(:map_options => { :center_latitude => -13, :center_longitude => -48, :zoom => 4 },
           :markers  => { :data => @json, :options => {"list_container" => "list"} })
#markers_list
  %p= t('home.complaints')
  %ul#list
#markers_list_searchable
  %input.search{:placeholder => "Filtre denuncias"}
  %ul.list

=content_for :scripts do
  %script{:type => "text/javascript", :charset => "utf-8"}
    jQuery(document).ready(function () {
    setTimeout(hideFlashes, 2500);

    Gmaps.map.callback = function() {
    $("#markers_list li a").addClass("link");
    var list = $("#markers_list li");
    $("#markers_list li").remove();
    list.each(function(index, domEl){$("#markers_list_searchable ul").append(domEl)});

    var options = {
    valueNames: ["link"]
    };

    var markersList = new List('markers_list_searchable', options);
    }
    });
